.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #302d28;
  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 15px 0;
    padding-left: 20px;
    padding-right: 20px;
    @include small-phone {
      flex-direction: column;
    }
  }
  &--logo {
    width: 75px;
    height: 35px;
    background-image: url("../../assets/img/logo_small-citus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include small-phone {
      margin-bottom: 30px;
    }
  }
  &--copy {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #afa9a3;
    transition: $transition;
  }
  &--link {
    text-decoration: none;
    color: #f7f3ec;
  }
}