.location {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ece2d1;
  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &--header {
    text-transform: uppercase;
    width: 100%;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #46433e;
    padding-top: 80px;
    padding-bottom: 60px;
    &__strong {
      font-weight: 800;
    }
  }
  &--block {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    @include tablet {
      flex-direction: column;
    }
  }
  &--info {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-shrink: 0;
    min-width: 390px;
    @include tablet {
      width: 100%;
      min-width: auto;
    }
  }
  &--tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #584b3b;
    @include phone {
      flex-wrap: wrap;
    }
  }
  &--tool {
    width: 66px;
    height: 60px;
    background-color: #584b3b;
    cursor: pointer;
    position: relative;
    transition: $transition;
    &:hover, &__active {
      background-color: #9eb46a;
      &::after {
        display: none;
      }
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 30px;
      background-color: #706455;
      top: 15px;
      right: 0;
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 30px;
      height: 23px;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      margin-top: -11px;
      margin-left: -14px;
    }
    &__shop {
      &::before {
        background-image: url("../../assets/img/shop-icon.png");
      }
    }
    &__book {
      &::before {
        background-image: url("../../assets/img/book-icon.png");
      }
    }
    &__hospital {
      &::before {
        background-image: url("../../assets/img/hospital-icon.png");
      }
    }
    &__human {
      &::before {
        background-image: url("../../assets/img/human-icon.png");
      }
    }
    &__gym {
      &::before {
        background-image: url("../../assets/img/gym-icon.png");
      }
    }
    &__itm {
      &::before {
        background-image: url("../../assets/img/itm-icon.png");
      }
    }
    &__distance {
      &::before {
        background-image: url("../../assets/img/distance-icon.png");
      }
    }
  }
  &--list {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #f7f3ec;
    height: 100%;
    &__active{
      display: flex;
    }
    @include small-phone {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &--list-title {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #4a4846;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  &--list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedad4;
    cursor: pointer;
    transition: $transition;
    &:last-of-type {
      border-bottom: 0;
    }
    @include small-phone {
      width: 100%;
    }
  }
  &--list-name {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #888682;
  }
  &--list-range {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #63615e;
  }
  &--map {
    width: 60%;
    height: 631px;
    background-image: url("../../assets/img/location-map.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include tablet {
      width: 100%;
      height: 300px;
    }
  }
}